<table>
    <tr>
        <th align="center">Player</th>
        <th align="center">Elo</th>
        <th align="center">Total Games</th>
    </tr>
    {% for player in players %}
        <tr>
            <td align="center">
                <a href="{% url 'elo:profile' player.id %}">{{ player.name }}</a>
            </td>
            <td align="center">
                {{ player.elo }}
            </td>
            <td align="center">
                {{ player.total_games }}
            </td>
        </tr>
    {% endfor %}
</table>