<a href="{% url 'elo:elo_calculation' %}">Elo Calculation</a>
&emsp;
<a href="{% url 'elo:game_history' %}">Game History</a>
&emsp;
<a href="{% url 'elo:reset_games' %}">Reset Games</a>
<br/><br/>
<table>
    <tr>
        <th align="center">Player</th>
        <th align="center">Elo</th>
        <th align="center">Total Games</th>
        <th align="center">Win</th>
        <th align="center">Lost</th>
        <th align="center">Win Rate</th>
        <th align="center">Status</th>
    </tr>
    {% for player in players %}
        <tr>
            <td align="center">
                <a href="{% url 'elo:profile' player.id %}">{{ player.name }}</a>
            </td>
            <td align="center">
                {{ player.elo }}
            </td>
            <td align="center">
                {{ player.total_games }}
            </td>
            <td align="center">
                {{ player.win }}
            </td>
            <td align="center">
                {{ player.lost }}
            </td>
            <td align="center">
                {{ player.winrate }}
            </td>
            <td align="center">
                {{ player.status }}
            </td>
        </tr>
    {% endfor %}
</table>